
@using demo1.Models
@{ 
    Employee emp;
}
@if ((Session["user"]) != null)
{

    emp = (Employee)HttpContext.Current.Session["user"];
}
else
{
    emp = new Employee();
}
<!-- ***************************** -->
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:15%">
    <a href='@Url.Action("index", "Hod",new { id=emp.Id})' class="w3-bar-item w3-button w3-hover-blue">Home</a>
    <a href='@Url.Action("newstationaryrequest", "Hod",new { id=emp.Id})' class="w3-bar-item w3-button w3-hover-blue">New Stationery Request</a>
    <a href='@Url.Action("stationaryrequesthistory", "Hod",new { id=emp.Id})' class="w3-bar-item w3-button w3-hover-blue">Stationery Request History</a>
    <a href='@Url.Action("editdeptinfo", "Hod",new { id=emp.Id})' class="w3-bar-item w3-button w3-hover-blue">Edit Dept Info</a>

    @if (emp.Designation=="Head")
    {
          <a href='@Url.Action("assigndelegate", "Hod",new { id=emp.Id})' class="w3-bar-item w3-button w3-hover-blue">Delegate</a>
    }
    
</div>

